* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    height: 10vh;
    width: 100%;
    background: #0DC646;
    display: flex;
    align-items: center;
}

.logo {
    background: url(../img/logo.svg) no-repeat 0%;
    height: 80px;
    background-size: contain;
    cursor: pointer;
}

header .logo:hover {
    background: url(../img/logo-reverse.svg) no-repeat 0%;
    height: 80px;
    background-size: contain;
    transition: 0.5s;
}


/* header .logo img {
    height: 18%;
    width: 18%;
}

header .logo2 img {
    height: 18%;
    width: 18%;
    display: none;
}

header .logo:hover {
    display: none;
}

header .logo2:hover {
    display:
} */


/* header .logo2 {
    background: url(../img/logo-reverse.svg) no-repeat;
    width: 18%;
    cursor: pointer;
    background-size: contain;
} */


/* main */

main {
    background: url(../img/fon_lk.png) no-repeat;
    background-size: cover;
    height: 65vh;
}

main .glavnaya {
    display: flex;
    padding: 20px 0;
}

main p {
    color: #222222;
    font-size: 16px;
}

main .glavnaya p:first-child {
    color: #6C7A86;
    cursor: pointer;
    text-decoration: underline;
}

.container-razdel {
    margin: 0 auto;
}


/* razdel */

.razdel {
    background: #fff;
    height: 45vh;
    border-radius: 18px;
    border: 1px solid #97979786;
    margin-bottom: 100px;
    width: 50%;
    margin: 50px auto;
}

.razdel h1 {
    color: #222222;
    padding: 50px 0;
    text-align: center;
}

.input1,
.input2 {
    display: flex;
    padding: 14px 0;
    justify-content: center;
}

input {
    width: 280px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
}

input[type="text"],
input[type="password"] {
    font-size: 16px;
    color: #262628;
    outline: none;
}

.razdel .buttons {
    text-align: center;
    margin-top: 8px;
}

.razdel .buttons a:first-child {
    padding: 6px 32px;
    background: #6C9504;
    color: #fff;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    transition: .4s;
}

.razdel .buttons .a-second {
    color: #6C9504;
    margin-left: 20px;
    text-decoration: underline;
    transition: .4s;
    background: none;
}

.razdel .buttons a:first-child:hover {
    background: #6c9504bd;
}

.razdel .buttons .a-second:hover {
    color: #6c9504bd;
}


/* o_nas */

.opisanie {
    background: #262628;
    align-items: center;
    height: 25vh;
    display: flex;
}

.blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blocks p {
    color: #fff;
    margin: 12px;
}

.block1 {
    text-align: center;
}

.block1 img {
    width: 65px;
    height: 65px;
}

.block1 p:first-of-type {
    font-size: 18px;
}

.block1 {
    padding: 0 25px;
}

.block1 p:last-child {
    color: #4A4A4A;
    cursor: pointer;
}

.block1 p:last-child:hover {
    color: rgb(204, 204, 204);
    transition: .5s;
    text-decoration: underline;
    transform: scale(1.03);
}


/* footer */

footer {
    height: 35vh;
    background: #1A1A1A;
    display: flex;
    align-items: center;
}

.first_nav {
    display: flex;
    justify-content: space-between;
}

.social_footer {
    display: flex;
}

.first_nav ul .text-p {
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 2.5px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.first_nav ul .p-data {
    font-size: 16px;
    margin: 15px 0;
    color: #9b9b9b;
}

.first_nav ul li {
    margin: 12px 0;
    color: #9b9b9b;
    font-size: 14px;
}

.first_nav ul li:hover {
    text-decoration: underline;
}

.first_nav img {
    margin: 0 15px;
}

.first_nav img:first-child {
    margin-left: 0;
}