.footer2 {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 25px;
    .footer-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
}